<div nz-row>
  <div nz-col nzSpan="8" class="logo-container">
    <div class="logo">
      <img src="assets/small_logo.png" alt="logo">
    </div>
  </div>
  <div nz-col nzSpan="16" class="container">
    <div class="tittle">Login</div>
      <div class="center">
        <form nz-form class="login-form" [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-control nzErrorTip="Email is empty or incorrect">
              <nz-input-group nzPrefixIcon="mail">
                <input class="input-width" type="mail" nz-input formControlName="email" placeholder="Email"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
              <nz-input-group nzPrefixIcon="lock">
                <input class="input-width" type="password" nz-input formControlName="password" placeholder="Password"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <div nz-row class="login-form-margin">
            <div nz-col [nzSpan]="12">
              <label nz-checkbox formControlName="remember">
                <span>Remember me</span>
              </label>
            </div>
          </div>
          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
          Or
          <a routerLink="/projects/register">register now!</a>
        </form>
      </div>
  </div>
</div>
