.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.input-width {
  width: 300px !important;
}

.container {
  background-color: #d8dae6;
  height: 100vh !important;
}

.tittle {
  margin-top: 28vh;
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.center {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  background-color: #1976D2;
}

.logo {
  margin-top: 42vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

