.logo {
  margin-top: 2px;
  margin-left: -35px;
  float: left;
}

.user {
  margin-right: 20px;
  color: white;
  float: right;
}

.logout {
  color: white;
  float: right;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 0px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

:host ::ng-deep .upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
:host ::ng-deep .upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}
:host ::ng-deep .upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
:host ::ng-deep .upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}

.upload-margins {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}

.sider-color {
  background-color: whitesmoke;
}

.center {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.editable-cell {
  position: relative;
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

.enabled-button {
  background-color: #1976D2;
  color: white
}

.disabled-button {
  background-color: #9397a4;
  color: white;
}

.layout-scroll {
  background-color: white;
  overflow-y: hidden;
  overflow-x: hidden;
}
